<div class="main-window">

<div class="offset2 ">
<h1>Welcome to <%#= @section.course.title %></h1>
</div>

<%#= link_to 'Edit', edit_section_path(@section) %>
<%= link_to 'Back', sections_path %>


</div>

