html  {
      font-family: bree serif;
      font-size: 10px;


// Header


.container {
                          width: 978px;
                          overflow: hidden;
}

  .main-content {
                          min-height:1000px;
                          padding-top: 50px;
}


#small-nav {
                          padding-top: 50px;
  .subnav {
                            border-bottom: 1px solid #efefef;
    .nav-pills {

      li { 
          a {
              &:hover {
                            background-color: #adc3d8;
                            color: #fff
          }
        }
      }
    }
  }
}

.navbar .brand {
  float: left;
  display: block;
  padding: 4px 20px 5px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #333333;
  text-shadow: 0 1px 0 #eeeeee;
}

// Home page

.landing-picture {
                          background: url(image_path('background.jpg')) no-repeat center;
                          border-radius:20px;
                          margin-top: -30px;
}

.hero-unit {
                          margin: 15px;
                          border-radius: 10px;
                          background-color: #fff;

  h2 {
                          font-family: open sans;
                          font-size: 40px;
                          color: #444;
                          text-shadow: 0 1px 0 grey;

    // p {
    //                       font-family: bree serif;
    // }
  }
}

.main-actions {
                          padding-top: 10px;
                          border-radius: 10px;

  #one {                  background-color: #adc3d8;
  }

  #two {                  background-color: #adc3d8;
  }
}
.content-box {
                          // min-height: 150px;
                          border: 1px solid #efefef;
                          border-radius: 20px;

  #title-box {
                          background-color: #adc3d8;
                          margin-top: 10px;
                          margin-left: -5px;
    h4 {
                          color: #fff;
                          font-size: 150%;
                          padding-left: 5px;
    }
      p {
                            font-family: bree serif;
      }
  }

  #sub-title-box {
                          // background-color: #adc3d8;
                          margin-top: 10px;
                          margin-left: -5px;
    h4 {
                          color: #444;
                          font-size: 120%;
                          padding-left: 5px;
    }
      p {
                          font-family: bree serif;
      }
    #course-box {
                          border: solid 1px #efefef;
                          padding: 10px;

      img {
                          margin: 10px;
                          border-radius:10px
      }
        p {
                          color: grey;
        }
    }
  }
}

#classes {
                          background-color: #d9d9d9;
}





.navbar-inner            {              //background: white;//#55ab55;
                                        // max-width: 1000px;
                                        // height:  100px;
                                        // opacity: 0.75;
.brand                   {              //text-shadow: none;
                                        // margin-top: 40px;
                                        font-family: pacifico;
                                        font-size: 150%;
                                        color: #fff;}
                          }





    footer             {
                                        // color: #666;
                                        background: #efefef;
                                        padding: 17px 0 18px 0;
                                        // border-top: 1px solid #efefef;
                                        margin-top: -10px;


    .wrapper           {                min-height: 100%;
                                        height: auto !important;
                                        height: 100%;
                                        margin: 0 auto -63px;
                        }

    .push              {                height: 63px;
                        }

  .nav > li > a      {
    // color: #999;
                                        text-shadow: none;
    &:hover           {                 background-color: #adc3d8;
                                        color: #efefef;
                        }
                       }

    #copy-right        {                font-size: 80%;
                                        color: #999;
                        }}

                      }

.hero-unit ul li{
  list-style: none;
  
}

.hero-unit ul {
  margin-left: 0;
}

h1.classname{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  font-size: 60px;
  margin-bottom: 50px;
}

.link_list li{
  list-style: none;
  float:left;
  margin: 0 5px;
}

.link_list {
  margin: 0 0 0 -5px;
}

.streams{
  clear: both;
}

#teacher{
  width: 960px;
  margin: 10px auto;
}

#myCamera{
  margin-top: 1px;
}

/*#student{
  height: 
}*/

.browse-course li:nth-child(4n+5) {
  clear: both;
}

.browse-course li{
  background: #d9d9d9;
  padding: 0 2px 0 7px;
  border-radius: 7px;
}

